security:

    providers:
        fos_userbundle:
            id: fos_user.user_manager

    firewalls:
        main:
            pattern: .*
            form_login:
                provider: fos_userbundle
                default_target_path: /
                always_use_default_target_path: true
                use_forward: true
                remember_me: true
            logout:
                path:   /logout
                target: /login
            anonymous:  true

    access_control:
      
        # Pages accessible to ALL
        - { path: ^/login$, role: IS_AUTHENTICATED_ANONYMOUSLY }
        
        # Pages accessible to CONNECTED USERS
        - { path: ^/.*, role: ROLE_USER }

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN