div.login {
  width: 560px;
  margin: 60px auto 15px auto; }
  div.login form {
    padding: 5px 10px 10px 10px; }
    div.login form h3 {
      margin-bottom: 25px; }
    div.login form input {
      width: 350px; }
