#footer {
  text-align: center;
  margin: -3px 0 20px 0;
  font-weight: bold;
  color: #353535; }
  #footer #footer_content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
    #footer #footer_content a {
      color: white; }
      #footer #footer_content a:hover {
        border-bottom: 1px dotted white; }
