table {
  border-spacing: 0px;
  border-collapse: collapse; }

table.records {
  width: 100%;
  border: 1px solid #747474;
  border-bottom: 0px;
  color: black; }
  table.records th, table.records td {
    border-bottom: 1px solid #747474;
    vertical-align: middle;
    padding: 7px 0 7px 8px;
    text-align: center; }
  table.records th {
    background-color: #c0ef3f; }
  table.records td {
    height: 36px; }
  table.records tr.odd {
    background-color: #f5f5f5; }
  table.records tr.even {
    background-color: #efefef; }
  table.records tr.deactivated {
    text-decoration: line-through; }
  table.records th.actions, table.records td.actions {
    text-align: right;
    padding-right: 5px; }
  table.records td.actions ul {
    list-style-type: none; }
    table.records td.actions ul li {
      float: right;
      margin-left: 5px; }
  table.records th.left, table.records td.left {
    text-align: left; }
