form label.radio {
  float: left; }
form input, form select, form textarea, form button {
  background-color: white;
  border: 1px black solid;
  padding: 3px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px; }
form select {
  padding: 2px; }
form input[type='radio'], form input[type='checkbox'] {
  float: left; }
form button {
  cursor: pointer;
  width: auto;
  padding: 2px 10px 2px 10px;
  background-color: #cfff5d; }
  form button:hover {
    background-color: #ffdb16; }

form.search {
  border: 1px solid black;
  padding: 10px 20px 17px 20px;
  position: relative;
  margin-bottom: 12px;
  background-color: #e2e2e1;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px; }
  form.search div.layout {
    display: inline;
    float: left;
    margin-right: 15px; }
  form.search div.nonActive {
    margin: 15px 0 -10px -4px;
    clear: left; }
  form.search label {
    display: block;
    padding: 0 0 4px 2px;
    font-weight: bold;
    font-size: 9pt; }
  form.search label.radio {
    margin: 3px 7px 0 0;
    font-weight: normal;
    font-size: 11px; }
  form.search input, form.search select {
    width: 190px; }
  form.search input[type='radio'], form.search input[type='checkbox'] {
    width: auto; }
  form.search button {
    margin-top: 19px; }

form.data div.layout {
  min-height: 24px;
  padding-bottom: 28px;
  position: relative; }
form.data div.blockLeft, form.data div.blockRight {
  width: 49%;
  float: left; }
form.data div.blockLeft {
  margin-right: 2%; }
form.data div.submit {
  text-align: right;
  margin-top: 15px; }
form.data div.isActive {
  margin: -12px 0 2px 0;
  min-height: 25px; }
  form.data div.isActive label {
    margin: 4px 2px 0 0;
    float: right; }
  form.data div.isActive input {
    float: right;
    margin-top: 5px; }
form.data p.message {
  margin: 10px;
  line-height: 20px; }
form.data a.edit {
  position: absolute;
  top: 10px;
  right: 10px; }
form.data h5 {
  padding: 4px 10px 5px 10px;
  border: 1px solid black;
  background-color: #d3ff5a;
  border-bottom: 0px;
  font-size: 7.5pt;
  font-family: verdana;
  border-top-left-radius: 5px;
  -moz-border-radius-top-left: 5px;
  -webkit-border-top-left-radius: 5px;
  -khtml-border-radius-top-left: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-top-right: 5px;
  -webkit-border-top-right-radius: 5px;
  -khtml-border-radius-top-right: 5px; }
  form.data h5 span {
    font-size: 7pt;
    font-weight: normal; }
form.data fieldset {
  border: 1px solid black;
  padding: 20px 7px 0 7px;
  position: relative;
  background-color: #f6f6f6;
  margin-bottom: 10px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottom-left: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -khtml-border-radius-bottom-left: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-radius-bottom-right: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -khtml-border-radius-bottom-right: 5px; }
form.data label {
  font-size: 9pt;
  width: 150px;
  height: 14px;
  padding: 5px 8px 5px 10px;
  margin-right: 5px;
  display: block;
  float: left;
  text-align: right;
  background-color: #e2e2e2;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -khtml-border-radius: 5px 5px 5px 5px; }
form.data label.radio {
  margin: 5px 20px 0 3px;
  width: auto;
  padding: 0px;
  background-color: transparent; }
form.data label.line {
  float: none;
  display: inline-block;
  margin: 0px 5px 0 5px;
  width: 100px; }
form.data input, form.data textarea {
  width: 280px; }
form.data select {
  width: 285px; }
form.data select.smallnumber {
  width: 50px; }
form.data input.code {
  width: 130px; }
form.data input.date {
  width: 70px; }
form.data input.line {
  width: 60px; }
form.data input.phone {
  width: 130px; }
form.data input.right {
  text-align: right; }
form.data input[type='radio'], form.data input[type='checkbox'] {
  width: auto; }
form.data input[type='radio'] {
  margin-top: 5px; }
form.data input[disabled], form.data select[disabled], form.data textarea[disabled] {
  background-color: #f7f7f7;
  color: black; }
form.data input.error, form.data textarea.error, form.data select.error {
  border: 1px solid #ff3e02; }
form.data button.delete {
  background-color: #fb5a5a;
  float: left; }
  form.data button.delete:hover {
    background-color: #ff0000; }
form.data ul.error {
  position: absolute;
  bottom: 11px;
  left: 173px;
  color: #ff3e02;
  list-style-type: none;
  font-weight: bold;
  font-size: 7.5pt; }
